@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.activityDetails, #activityFilterNavbar {
    padding-top: 3em;
}

#deleteFiltersBtn {
    margin-top: 11px;
}

.buttonClickClass {
    background-color: rgba(255, 245, 157, 0.8)
}

.navigationClass {
    background-color: rgba(128, 222, 234, 0.45);
}

.inputFocuslossClass {
    background-color: rgba(255, 204, 188, 0.8);
}

.formSubmitClass {
    background-color: rgba(165, 214, 167, 0.55);
}

.buttonClickClass:hover, .dropdown-menu > li > .buttonClickClass:focus, .dropdown-menu > li > .buttonClickClass:hover {
    background-color: rgba(255, 245, 157, 1);
    background-image: none;
}

.navigationClass:hover, .dropdown-menu > li > .navigationClass:focus, .dropdown-menu > li > .navigationClass:hover {
    background-color: rgba(178, 235, 242, 1.0);
    background-image: none;
}

.inputFocuslossClass:hover, .dropdown-menu > li > .inputFocuslossClass:focus, .dropdown-menu > li > .inputFocuslossClass:hover {
    background-color: rgba(255, 204, 188, 1.0);
    background-image: none;
}

.formSubmitClass:hover, .dropdown-menu > li > .formSubmitClass:focus, .dropdown-menu > li > .formSubmitClass:hover {
    background-color: rgba(165, 214, 167, 0.65);
    background-image: none;
}

.filterInUse {
    background-color: rgba(129, 199, 132, 0.9) !important;
    color: rgba(51, 51, 51, 1) !important;
    background-image: none !important;
}

.filterInUse:hover, .filterInUse:focus {
    background-color: rgba(129, 199, 132, 1) !important;
    color: rgba(51, 51, 51, 1) !important;
    background-image: none !important;
}

button {
    font-family: Helvetica, Arial, sans-serif !important;
    font-weight: normal !important;
}

.form-group {

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
}

#dateTimePickerFrom, #dateTimePickerTo {
    margin-top: 5px;
    margin-bottom: 0px;
}