.activityDetails, #activityFilterNavbar {
    padding-top: 3em;
}

.buttonClickClass {
    background-color: rgba(255, 249, 196, 0.8);
}

.navigationClass {
    background-color: rgba(178, 235, 242, 0.7);
}

.inputFocuslossClass {
    background-color: rgba(255, 205, 210, 0.8);
}

.formSubmitClass {
    background-color: rgba(255, 204, 188, 0.8);
}

.buttonClickClass:hover {
    background-color: rgba(255, 245, 157, 0.8);
}

.navigationClass:hover {
    background-color: rgba(178, 235, 242, 1.0);
}

.inputFocuslossClass:hover {
    background-color: rgba(255, 205, 210, 1.0);
}

.formSubmitClass:hover {
    background-color: rgba(255, 204, 188, 1.0);
}