@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

#myBut {
    margin-top: 100px;
}

.textBox {
    height: 400px !important;
    background-image: none !important;
    margin-top: 50px !important;
    background-color: #ffffff !important;
    padding: 5px 20px 20px 20px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    border: 1px solid #cccccc !important;
    border-bottom: transparent !important;
    border-radius: 10px 10px 0 0 !important;
}

.outPanelHeader {
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#myText {
    box-shadow: 0 0 0 0 !important;
}

#messageNav {
    text-align: center;
    height: 50px;
    width: 400px;
    background-color: #f1f8e9;
}

.myMessageRight {
    margin: 1px;
    background-color: #2196F3;
    word-wrap: break-word;
    min-width: 0px;
    max-width: 150px;
    border-radius: 12px 2px 2px 12px;
    color: white;
    padding: 5px 10px;
    align-self: flex-end;
}

.myMessageLeftNextToPic {
    margin: 1px;
    background-color: #9E9E9E;
    word-wrap: break-word;
    min-width: 0px;
    max-width: 150px;
    border-radius: 2px 12px 12px 2px;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: bottom;
}

.myMessageLeft {
    margin: 1px;
    background-color: #9E9E9E;
    word-wrap: break-word;
    min-width: 0px;
    max-width: 150px;
    border-radius: 2px 12px 12px 2px;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 58px;
}

.messageWithPic {
    align-self: flex-start;
}

.senderPic {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.areaText {
    border-radius: 0px 0px 10px 10px !important;
}

.cmdButton {
    display: inline-block !important;
    padding: 5px 10px !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-shadow: none !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border-radius: 4px !important;
    color: #fff !important;
    background-color: #337ab7 !important;
    background-image: -webkit-linear-gradient(top, #337ab7 0, #265a88 100%) !important;
    background-image: -o-linear-gradient(top, #337ab7 0, #265a88 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88)) !important;
    background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%) !important;
    background-repeat: repeat-x !important;
    border-color: #245580 !important;
}

.yesButton {
    display: inline-block !important;
    padding: 5px 10px !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-shadow: none !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border-radius: 4px !important;
    color: #fff !important;
    background-color: #b71c1c !important;
    border-color: #b71c1c !important;
    margin-left: 30px;
}

.noButton {
    display: inline-block !important;
    padding: 5px 10px !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    text-shadow: none !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border-radius: 4px !important;
    color: #fff !important;
    background-color: #8BC34A !important;
    border-color: #8BC34A !important;
}

.error_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.error_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.error_text {
    align-self: center;
}