@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

#myBut {
    margin-top: 100px;
}

#myText {
    box-shadow: 0 0 0 0 !important;
}

#messageNav {
    text-align: center;
    height: 50px;
    width: 400px;
    background-color: #f1f8e9;
}

.textBox {
    height: 400px !important;
    background-image: none !important;
    margin-top: 50px !important;
    background-color: #ffffff !important;
    padding: 5px 20px 20px 20px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    border: 1px solid #cccccc !important;
    border-bottom: transparent !important;
    border-radius: 10px 10px 0 0 !important;
}

.outPanelHeader {
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    position: relative;
}

.myMessageRight {
    margin: 1px;
    background-color: #2196F3;
    word-wrap: break-word;
    min-width: 0px;
    max-width: 150px;
    border-radius: 12px 2px 2px 12px;
    color: white;
    padding: 5px 10px;
    align-self: flex-end;
}

.myMessageLeftNextToPic {
    margin: 1px;
    background-color: #9E9E9E;
    word-wrap: break-word;
    min-width: 0px;
    max-width: 150px;
    border-radius: 2px 12px 12px 2px;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: bottom;
}

.myMessageLeft {
    margin: 1px;
    background-color: #9E9E9E;
    word-wrap: break-word;
    min-width: 0px;
    max-width: 150px;
    border-radius: 2px 12px 12px 2px;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 58px;
    align-self: flex-start;
}

.messageWithPic {
    align-self: flex-start;
}

.senderPic {
    width: 54px;
    height: 54px;
}

.areaText {
    border-radius: 0px 0px 10px 10px !important;
}
.error_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.error_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.error_text {
    align-self: center;
}

.scrollable {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.modal {
   z-index: 99999999999999999999999999999999999;
}

.ui-growl {   
    position:fixed;
    top: 30%;
}