.locale-en {
    background-image: url("#{resource['images/flag-en.png']}") !important;
    margin: 8px;
    height: 19px;
    width: 28px;
    border-top-left-radius: 6px !important;
}

.locale-hu {
    background-image: url("#{resource['images/flag-hu.png']}") !important;
    margin: 8px;
    height: 19px;
    width: 28px;
    border-bottom-right-radius: 6px !important;
}

.local_in_smallnav_parent {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #263238;
    border-top: 1px solid #000000;
    -webkit-box-shadow: -1px -4px 24px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -4px 24px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -4px 24px -2px rgba(0, 0, 0, 0.75);
}