@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.panel-parent {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.panel-info {
    border-color: #455A64;
}

.panel-info > .panel-heading {
    background-image: none;
    background-color: #B0BEC5 !important;
    border: none;
    color: #ffffff;
}

.panel-info > .panel-footer {
    background-image: none;
    background-color: #B3E5FC !important;
    border: none;
    color: #ffffff;
}

.helpdesk-login-input {
    margin-bottom: 25px
}

/*.alert-info {*/
/*background-image: none;*/
/*background-color: #0288D1;*/
/*color: #ffffff;*/
/*border-radius: 10px;*/
/*}*/