@charset "utf-8";

.helpdesk_plugin {
    background-color: #263238;
    padding: 10px;
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.helpdesk_plugin_text {
    margin: 5px;
    font-family: sans-serif;
    color: #ffffff;
    float: left;
}

.helpdesk_plugin_text_parent {
    display: flex;
    justify-content: center;
}

.helpdesk_plugin_link {
    background-color: #1976D2;
    padding: 2px 10px;
    margin: 5px;
    border-radius: 4px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.helpdesk_error_text {
    background-color: #c62828;
    padding: 4px 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;

}

.modalDialog {
    position: fixed;
    font-family: sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 0;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    background: #263238;
    color: #ffffff;
    border: 2px solid #000000;
    position: relative;
}

.closeModal {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.closeModal:hover {
    background: #ffffff;
    color: #263238;
}

.modal_submit_button {
    border-radius: 28px;
    text-shadow: 3px 2px 3px #666666;
    font-family: sans-serif;
    color: #263238;
    font-size: 12px;
    background: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-right: 20px;
    text-decoration: none;
    position: absolute;
    right: 0;
}

.modal_submit_button:hover {
    background: #b7b7b7;
    color: #000000;
    text-decoration: none;
}

.modal_email_input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 14px/normal "Times New Roman", Times, serif;
    color: #263238;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
